/* Set Your Own Margin & Padding */
h2, h3, p {
	margin: 0;
}

/* Layout for Style Tile*/
section {
	margin: 20px 0;
}
h1{
	font-family: 'Shadows Into Light', cursive;
	color: green;
	font-size: 25px;
}
h2{
	font-family: "Hoefler Text", "Baskerville old face", Garamond, "Times New Roman", serif;
	color: blue;
}
h3{
	font-family: "Goudy Old Style", Garamond, "Big Caslon", "Times New Roman", serif;
	color: darkblue;
}
p{
	font-family: "Avant Garde", Avantgarde, "Century Gothic", CenturyGothic, "AppleGothic", sans-serif;
}
body{
	background: url("../img/bg.png")
}
.color-1,
.color-2,
.color-3,
.pattern-1,
.pattern-2,
.pattern-3 {
	border: 1px solid #000;
	float: left;
	margin: 0 10px;
	height: 50px;
	width: 50px;
}
.color-1 {
	background: yellow;
}
.color-2 {
	background: gold;
}
.color-3{
	background: blue;
}
.pattern-1{
	
	border: 1px solid #000;
	float: left;
	margin: 0 10px;
	height: 75px;
	width: 75px;
	background-image: url("../img/1.jpg")
}
.pattern-2{
	
	border: 1px solid #000;
	float: left;
	margin: 0 10px;
	height: 75px;
	width: 75px;
	background-image: url("../img/2.jpg")

}
.pattern-3{
	border: 1px solid #000;
	float: left;
	margin: 0 10px;
	height: 75px;
	width: 75px;
background-image: url("../img/3.jpg")
	}

.s1{
margin-left: 60px;
}

em{
	float: left;
}



/* Show Grid */
.showgrid {
	background: url("../img/grid-bg.png") repeat-y;
}